       <!--start header section -->
<header class="y-header-top">
    <div class="y-header-icon" onclick="OpenCloseNavLeft()">
        <i class='bx bx-menu y-show'></i>
    </div>
    <div class="y-left">
        <img class="y-logo" src="./Photos/app-logo.png" alt="logo">
    </div>
    <div class="y-rigth-list">
        <!-- empty notification bell--><i class='bx bx-bell'></i>
        <!-- fill notification bell--> <i class='bx bxs-bell' style="display: none;"></i>

        <span class="y-header-email">@adminEmail</span>
        <img class="y-profile-iamge" alt="profile_image" src="./Photos/Rectangle 1 V2.png">
    </div>

</header>
<!-- end  header section -->
