@inherits LayoutComponentBase
@using GLAB.Web1.Components.Components

<div class="y-big-container" id="y-big-container">

    <Header/>
    <NavLeft/>

        <div class="y-main-container">
            @Body
        </div>
</div>