<nav class="D-nav">
    <div class="D-logo">

        <span> <span id="part1">L</span><span id="part2">AB</span> <br><span id="part3">Creator</span></span>

    </div>

    <div class="D-user-info">
        <div class="D-user-imag">
            <img class="circular--square" src="/Dimage/user.png" alt="">
        </div>
        <div class="D-user-name">
            <span>Name User</span>
        </div>
    </div>
</nav>

<section class="D-content-create-lab">

    <div class="D-left-nav">
        <button class="D-menu-left-nav" id="resizeButton"> <i class="fa-solid fa-bars"></i></button>

        <div class="D-logo-left-nav">
            <span id="part1">L</span>
        </div>


    </div>

</section>